<% if cookies[:saved_user] %>
Thanks you for signing up
<% else %>
<%= form_for :user do |f| %>
<div class="field">
   <%= f.label :first_name, 'First Name' %><br>
   <%= f.text_field :first_name, placeholder: 'First Name' %>
 </div>

  <div class="field">
    <%= f.label :last_name, 'Last Name' %><br>
    <%= f.text_field :last_name, placeholder: 'Last Name' %>
  </div>

  <div class="field">
    <%= f.label :email, 'Email ID' %><br>
    <%= f.text_field :email, placeholder: 'Email ID' %>
  </div>

  <div class="field">
    <%= f.label :username, 'Username' %><br>
    <%= f.text_field :username, placeholder: 'Username' %>
  </div>

  <div class="field">
    <%= f.label :password, 'Password' %><br>
    <%= f.password_field :password, placeholder: '8 characteres minimium and at least one symbol' %>
  </div>

  <div class="field">
    <%= f.label :cpassword, 'Confirm Password' %><br>
    <%= f.password_field :cpassword, placeholder: 'Should contain 8 characteres minimium and at least one symbol' %>
  </div>

  <div class="field">
    <%= f.label :c_number, 'Contact Number' %><br>
    <%= f.text_field :c_number, placeholder: 'Contact number' %>
  </div>

  <div class="field">
    <%= f.label :gender, 'Gender' %><br>
    <%= f.select :gender, [["Male",1], ["Female",2], ["Other",3]], prompt: "Gender" %>
  </div>

  <div class="field">
    <%= f.label :dob, 'Date of Birth' %><br>
    <%= f.date_select :dob, placeholder: 'DD/MM/YY' %>
  </div>

 <div class="field">
    <%= f.label :curr_address, 'Current Address' %><br>
    <%= f.text_area :curr_address, placeholder: 'Current Address' %>
  </div>

  <div class="field">
    <%= f.label :perm_address, 'Permanent Address' %><br>
    <%= f.text_area :perm_address %>
  </div>

  <div class="field">
    <%= f.label :country, 'Country' %><br>
    <%= f.country_select :country %>
  </div>
  <div class="field">
    <%= f.label :city, 'City' %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :university, 'University' %><br>
    <%= f.text_field :university %>
  </div>
  <div class="field">
    <%= f.label :course, 'Course' %><br>
    <%= f.text_field :course %>
  </div>
  <div class="field">
    <%= f.label :source, 'How Did You Hear About Us' %><br>
    <%= f.text_field :source %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
<% end %>
