
    <div id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:900px;margin:0px auto 102px;">
        <div id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
            <ul class="amazingslider-slides" style="display:none;">
              <li><%= image_tag "students.jpg" %></li>
              <li><%= image_tag "trainer_team.jpg" %></li>
              <li><%= image_tag "dev_ui_ux.jpg" %></li>
              <li><%= image_tag "session.jpg" %></li>
              <li><%= image_tag "brain_storm.jpg" %></li>
              <li><%= image_tag "dev_session.jpg" %></li>
              <li><%= image_tag "joint_session.jpg" %></li>
            </ul>
            <ul class="amazingslider-thumbnails" style="display:none;">
              <li><%= image_tag "students_tn.jpg" %></li>
              <li><%= image_tag "trainer_team_tn.jpg" %></li>
              <li><%= image_tag "dev_ui_ux_tn.jpg" %></li>
              <li><%= image_tag "session_tn.jpg" %></li>
              <li><%= image_tag "brain_storm_tn.jpg" %></li>
              <li><%= image_tag "dev_session_tn.jpg" %></li>
              <li><%= image_tag "joint_session_tn.jpg" %></li>
            </ul>
        </div>
    </div>
