<h1>Login</h1>
<div>
  <% if flash[:alert] %>
  <p id = "notice" ><%= flash[:alert] %> </p>
  <% end %>

  <%= form_tag :session do %>

  <div>
    <div class="row">
      <div class="col-xs-4">
        <%= label_tag :username, "Username or Email" %><br>
        <%= text_field_tag :username, nil, placeholder: "Username or Email", class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <%= label_tag :password, "Password" %><br>
        <%= password_field_tag :password, nil, placeholder: "Password", class: 'form-control' %>
      </div>
    </div><br>



  </div>

  <div class="row">
    <div class="col-xs-4">
      <%= submit_tag "Login", class: 'form-control' %>
    </div>
  </div><br>
  
</fieldset>
<% end %>
</div>
