<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Views:</strong>
  <%= @topic.views %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @topic.created_by.full_name %>
</p>

<% if (user_signed_in?) %>
<%= link_to 'Edit', edit_topic_path(@topic) %> |
<% end %>
<%= link_to 'Back', topics_path %>
