<div class="modal-dialog modal-lg register-modal-dialog">
  <div class="row modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title form-signin-heading">Registration</h4>
    </div>

    <div class="modal-body">

        <% @user ||= User.new %>

      <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "form field") %> needs your attention</h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>


      <%= form_for :user, url: '/users' do |f| %>

      <div class="form-group">
        <div class="row">
              <div class="col-md-6">
                <%= f.label :first_name, "First Name" %>
                <%= f.text_field :first_name, placeholder: "First Name", class: 'form-control' %>
              </div>

              <div class="col-md-6">
                <%= f.label :last_name, "Last Name" %><br>
                <%= f.text_field :last_name, placeholder: "Last Name", class: 'form-control' %>
              </div>
          </div>
        </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <%= f.label :email, "Email ID" %><br>
                <%= f.text_field :email, placeholder: "Email ID", class: 'form-control' %>
              </div>

              <div class="col-md-6">
                <%= f.label :username, "Username" %>
                <%= f.text_field :username, placeholder: "Username", class: 'form-control' %>
              </div>
          </div>
        </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <%=  f.label :password, "Password" %><br>
                <%= f.password_field :password, placeholder: '8 characters minimum and at least one symbol', class: 'form-control' %>
              </div>

              <div class="col-md-6">
                <%= f.label :password_confirmation, 'Confirm Password' %><br>
                <%= f.password_field :password_confirmation, placeholder: 'should contain 8 characters and at least one symbol', class: 'form-control' %>
              </div>
          </div>
        </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <%= f.label :contact_number, "Contact Number" %><br>
                <%= f.telephone_field :contact_number, placeholder: "Contact Number", class: 'form-control' %>
              </div>

              <div class="col-md-6">
                <br><%= f.label :'Gender' %><br>
                <%= f.radio_button :gender, 'Male'%> Male
                <%= f.radio_button :gender, 'Female'%> Female
                <%= f.radio_button :gender, 'Other'%> Other
              </div>
          </div>
        </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <%= f.label :date_of_birth, "Date of Birth" %><br>
                <%= f.text_field :date_of_birth, class: 'date-picker form-control', placeholder: 'DD/MM/YYYY' %>
              </div>
          </div>
        </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <%= f.label :current_address, "Current Address" %><br>
                <%= f.text_field :current_address, placeholder: "Current Address", class: 'form-control' %>
                <%= check_box_tag :copy_address %><%= label_tag :copy_address, "Same as permanent address" %>
              </div>

              <div class="col-md-6">
                <%= f.label :permanent_address, "Permanent Address" %><br>
                <%= f.text_field :permanent_address, placeholder: "Permanent Address", class: 'form-control' %>
              </div>
          </div>
        </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <%= f.label :country, "Country" %><br>
                <%= f.country_select :country, {}, class: "form-control" %>
              </div>
          </div>
        </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <%= f.label :city, "City" %><br>
                <%= f.text_field :city, placeholder: "City", class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <%= f.label :course, "Course" %><br>
                <%= f.text_field :course, placeholder: "Course", class: 'form-control' %>
              </div>

              <div class="col-md-6">
                <%= f.label :university, "Universty / Institute" %><br>
                <%= f.text_field :university, placeholder: "University / Institute", class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="form-group">

                <br><%= f.label :'How did you get to know about KSC' %><br>
                <%= f.check_box :source%> Friends
                <%= f.check_box :source %> Social Media
                <%= f.check_box :source %> Google Search
                <%= f.check_box :source %> Other

                <%= f.text_field :source %>

          </div><br>

          <div class="form-group">

                <%= f.check_box :tos %>
                By ticking the <strong class="label label-primary">Check box</strong>, you agree to the
                <%= link_to 'Terms and Conditions', '/termscons' %>

          </div>

          <div class="form-group">

                <%= recaptcha_tags %>

          </div>


              <div class="actions">
                <%= f.submit "Sign up", class: 'btn btn-primary btn-lg' %>
              </div>



      <% end %>

    </div>


  </div>
</div>
