<%= form_for :user, url: '/users' do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="modal-dialog modal-lg">
    <div class="row modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title form-signin-heading">Registration</h4>
        </div>



          <div class="col-md-8" >

                <!-- </div> -->


        <!--<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form" id="registerForm">-->
                <!--<hr class="colorgraph">-->
          <div class="tab-pane active" id="Registration">
           <form role="form" class="form-horizontal">
             <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <%= f.label :first_name, "First Name" %><br>
                    <%= f.text_field :first_name, placeholder: "First Name", class: 'form-control' %>
                  </div>

                  <div class="col-xs-6">
                    <%= f.label :last_name, "Last Name" %><br>
                    <%= f.text_field :last_name, placeholder: "Last Name", class: 'form-control' %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-xs-6">
                    <%= f.label :email, "Email ID" %><br>
                    <%= f.text_field :email, placeholder: "Email ID", class: 'form-control' %>
                  </div>
                  <div class="col-xs-6">
                    <%= f.label :username, "Username" %><br>
                    <%= f.text_field :username, placeholder: "Username", class: 'form-control' %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-xs-6">
                    <%=  f.label :password, "Password" %><br>
                    <%= f.password_field :password, placeholder: '8 characters minimum and atleast one symbol', class: 'form-control' %>
                  </div>
                  <div class="col-xs-6">
                    <%= f.label :cpassword, 'Confirm Password' %><br>
                    <%= f.password_field :cpassword, placeholder: 'should contain 8 characters and atleast one symbol', class: 'form-control' %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-xs-6">
                    <%= f.label :contact_number, "Contact Number" %><br>
                    <%= f.telephone_field :contact_number, placeholder: "Contact Number", class: 'form-control' %>
                  </div>
                  <div class="col-xs-6">
                    <br><%= f.label :'Gender' %><br>
                    <%= f.radio_button :gender, 'Male'%> Male
                    <%= f.radio_button :gender, 'Female'%> Female
                    <%= f.radio_button :gender, 'Other'%> Other
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-xs-6">
                    <%= f.label :dob, "Date of Birth" %><br>
                    <%= f.text_field :dob, class: 'date-picker', placeholder: 'DD/MM/YYYY' %>
                  </div>
                  <div class="col-xs-6">

                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-xs-6">
                    <%= f.label :curr_address, "Current Address" %><br>
                    <%= f.text_field :curr_address, placeholder: "Current Address", class: 'form-control' %>
                    <%= check_box_tag :copy_address %><%= label_tag :copy_address, "Same as permanent address" %>
                  </div>
                  <div class="col-xs-6">
                    <%= f.label :perm_address, "Permanent Address" %><br>
                    <%= f.text_field :perm_address, placeholder: "Permanet Address", class: 'form-control' %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-xs-4">
                    <%= f.label :country, "country" %><br>
                    <%= f.country_select :country %>
                  </div>
                </div>
              </div>

                <div class="form-group">
                <div class="row">
                  <div class="col-xs-6">
                    <%= f.label :city, "City" %><br>
                    <%= f.text_field :city, placeholder: "City", class: 'form-control' %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-xs-6">
                    <%= f.label :course, "Course" %><br>
                    <%= f.text_field :course, placeholder: "Course", class: 'form-control' %>
                  </div>
                  <div class="col-xs-6">
                    <%= f.label :university, "Universty" %><br>
                    <%= f.text_field :university, placeholder: "Universty", class: 'form-control' %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-xs-12">
                    <br><%= f.label :'How did you get to know about KSC' %><br>
                    <%= f.check_box :source%> Friends
                    <%= f.check_box :source %> Social Meet
                    <%= f.check_box :source %> Internet Search
                    <%= f.check_box :source %> Other

                    <%= f.text_field :source %>
                  </div>
                  <div class="col-xs-4">

                  </div>
                </div>
              </div><br>

              <div class="form-group">
                <div class="row">
                    <!--<div class="col-xs-12 col-sm-12 col-md-12"> -->
                    <div class="col-xs-12">
                        <%= f.check_box :tos %>
                        By ticking the <strong class="label label-primary">Check box</strong>, you agree to the
                        <%= link_to 'Terms and Conditions', '/termscons' %>
                    </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-xs-6">
                    < recaptcha_tags >
                  </div>
              </div>
              </div>

                <div class="row">
                  <div class="col-xs-2 col-md-4">
                    <div class="actions">
                      <%= f.submit "Sign up", class: 'btn btn-primary btn-block btn-lg' %>
                    </div>
                  </div>
                </div><br>

            </form>

        </div>


    <!--</div>-->

  </div>

</div>
</div>
</div>
</div>





<% end %>
