<div class="container marketing">



  <div class="row featurette">
    <div class="col-md-7">

        <div class="container">
        <div class="row" style="text-align:center; border-bottom:1px dashed #ccc;  padding:0 0 20px 0; margin-bottom:40px; margin-top:-80px; ">
            <h3 style="font-family:'Bree Serif', arial; font-weight:bold; font-size:30px;">
                Knowledge Sharing Campaign:<br>
                <a style="text-decoration:none; color:#666;" href="#">in <span style="color:red;">Photos</span></a>
            </h3>
            <p>Photos are from first batch to current barch 3. Click <strong><a style="color:red" href="#">Here</a></strong> to go home</p>
        </div>

        <ul id="images" class="row">
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-12">
                <div class="img-responsive"><img src="<%= asset_path('charles.jpg') %>" /></div>
                <div class="text">Consectetur adipiscing elit</div>
            </li>
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-12">
                <div class="img-responsive"><img src="<%= asset_path('rahul.jpg') %>" /></div>
                <div class="text">Lorem ipsum dolor sit amet, labore et dolore magna aliqua. Ut enim ad minim veniam</div>
            </li>
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-12">
                <div class="img-responsive"><img src="<%= asset_path('archanna.png') %>" /></div>
                <div class="text">Lorem ipsum dolor sit amet, labore et dolore magna aliqua. Ut enim ad minim veniam</div>
            </li>


            <li class="clearfix visible-xs-block"></li>


            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-12">
                <div class="img-responsive"><img src="<%= asset_path('rohini.jpg') %>" /></div>
                <div class="text">Lorem, do eiusmod tempor incid Ut enim ad minim veniam</div>
            </li>


            <li class="clearfix visible-sm-block"></li>


            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-12">
                <div class="img-responsive"><img src="<%= asset_path('sattar.jpg') %>" /></div>
                <div class="text">Lorem, do eiusmod tempor incid Ut enim ad minim veniam</div>
            </li>
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-12">
                <div class="img-responsive"><img src="<%= asset_path('ram.jpg') %>" /></div>
                <div class="text">Lorem, do eiusmod tempor incid Ut enim ad minim veniam</div>
            </li>


            <li class="clearfix visible-lg-block  visible-md-block visible-xs-block"></li>


            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-12">
                <div class="img-responsive"><img src="<%= asset_path('sunil.jpg') %>" /></div>
                <div class="text">Lorem, do eiusmod tempor incid Ut enim ad minim veniam</div>
            </li>
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-12">
                <div class="img-responsive"><img src="<%= asset_path('puja.jpg') %>" /></div>
                <div class="text">Lorem, do eiusmod tempor incid Ut enim ad minim veniam</div>
            </li>


            <li class="clearfix visible-sm-block"></li>



            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-12">
                <div class="img-responsive"><img src="<%= asset_path('priyanka.jpg') %>" /></div>
                <div class="text">Lorem, do eiusmod tempor incid Ut enim ad minim veniam</div>
            </li>


            <li class="clearfix visible-xs-block"></li>


            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-12">
                <div class="img-responsive"><img src="<%= asset_path('prateek.jpg') %>" /></div>
                <div class="text">Lorem, do eiusmod tempor incid Ut enim ad minim veniam</div>
            </li>
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-12">
                <div class="img-responsive"><img src="<%= asset_path('nikhil.jpg') %>" /></div>
                <div class="text">Lorem, do eiusmod tempor incid Ut enim ad minim veniam</div>
            </li>
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-12">
                <div class="img-responsive"><img src="<%= asset_path('maia.jpg') %>" /></div>
                <div class="text">Lorem, do eiusmod tempor incid Ut enim ad minim veniam</div>
            </li>


            <li class="clearfix visible-lg-block  visible-md-block visible-sm-block visible-xs-block"></li>


            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-12">
                <div class="img-responsive"><img src="<%= asset_path('lipika.jpg') %>" /></div>
                <div class="text">Lorem, do eiusmod tempor incid Ut enim ad minim veniam</div>
            </li>
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-12">
                <div class="img-responsive"><img src="<%= asset_path('gopi.jpg') %>" /></div>
                <div class="text">Lorem, do eiusmod tempor incid Ut enim ad minim veniam</div>
            </li>
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-12">
                <div class="img-responsive"><img src="<%= asset_path('dharam.jpg') %>" /></div>
                <div class="text">Lorem, do eiusmod tempor incid Ut enim ad minim veniam</div>
            </li>


            <li class="clearfix visible-xs-block"></li>


            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-12">
                <div class="img-responsive"><img src="<%= asset_path('chaitanya.jpg') %>" /></div>
                <div class="text">Lorem, do eiusmod tempor incid Ut enim ad minim veniam</div>
            </li>


            <li class="clearfix visible-sm-block"></li>


            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-12">
                <div class="img-responsive"><img src="<%= asset_path('charles.png') %>" /></div>
                <div class="text">Lorem, do eiusmod tempor incid Ut enim ad minim veniam</div>
            </li>
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-12">
                <div class="img-responsive"><img src="<%= asset_path('charles.png') %>" /></div>
                <div class="text">Lorem, do eiusmod tempor incid Ut enim ad minim veniam</div>
            </li>


            <li class="clearfix visible-lg-block  visible-md-block visible-xs-block"></li>


            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-12">
                <div class="img-responsive"><img src="<%= asset_path('charles.png') %>" /></div>
                <div class="text">Lorem, do eiusmod tempor incid Ut enim ad minim veniam</div>
            </li>

            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-12">
                <div class="img-responsive"><img src="<%= asset_path('charles.png') %>" /></div>
                <div class="text">Lorem, do eiusmod tempor incid Ut enim ad minim veniam</div>
            </li>


            <li class="clearfix visible-sm-block"></li>


            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-12">
                <div class="img-responsive"><img src="<%= asset_path('charles.png') %>" /></div>
                <div class="text">Lorem, do eiusmod tempor incid Ut enim ad minim veniam</div>
            </li>
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-12">
                <div class="img-responsive"><img src="<%= asset_path('charles.png') %>" /></div>
                <div class="text">Lorem, do eiusmod tempor incid Ut enim ad minim veniam</div>
            </li>

            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-12">
                <div class="img-responsive"><img src="<%= asset_path('charles.png') %>" /></div>
                <div class="text">Lorem, do eiusmod tempor incid Ut enim ad minim veniam</div>
            </li>
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-xxs-12">
                <div class="img-responsive"><img src="<%= asset_path('charles.png') %>" /></div>
                <div class="text">Lorem, do eiusmod tempor incid Ut enim ad minim veniam</div>
            </li>
          </ul>
    </div> <!-- /container -->


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    </div>
  </div>


    </div> <!-- /container -->
