


<section id="slider">
  <div id="home-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active" style="background-image: url('<%= asset_path('show.jpg') %>')"  class="backgroundslide">
        <div class="carousel-caption container">
          <div class="row">
            <div class="col-md-10">

              <h1>Welcome </h1>
              <h2> Knowledge Sharing Campaign</h2>
              <p>Bring-Share-Learn.</p>
            </div>
            <div class="col-md-2">
              <div class="animated flip fliplogobring"><img src="<%= asset_path('favicon.png') %>" /></div>
            </div>
          </div>
        </div>
      </div>
      <div class="item" style="background-image: url('<%=asset_path('DSCN6610.jpg')%>')">
        <div class="carousel-caption container">
          <div class="row">
            <div class="col-sm-10">
              <h1>Bring </h1>
              <h2>Friends&Knowledge</h2>
              <p>The African student diaspora faces challenges to get internship opportunities. KSC's key objectives have been shaped in a way that ensure we are able to respond to students’ specific challenges as we learn from their backgrounds and skills prior to starting the program. </p>
            </div>
            <div class="col-md-2">
              <div class="animated flip fliplogobring"><img src="<%= asset_path('favicon.png') %>" /></div>
            </div>
          </div>
        </div>
      </div>
      <div class="item" style="background-image: url('<%=asset_path('about-bg.jpg')%>')">
        <div class="carousel-caption container">
          <div class="row">
            <div class="col-sm-10">
              <h1>Share </h1>
              <h2>Thoughts&Ideas</h2>
              <p>KSC participants are skilled in software development and are motivated to embrace technology at large Students are encouraged to use their learnings to come up with innovative ideas to propose solutions to African problems.</p>
            </div>
            <div class="col-md-1">
              <div class="animated flip fliplogobring"><img src="<%= asset_path('favicon.png') %>" /></div>
            </div>
          </div>
        </div>
      </div>
      <div class="item" style="background-image: url('<%=asset_path('DSCN6662.jpg')%>')">
        <div class="carousel-caption container">
          <div class="row">
            <div class="col-sm-10">
              <h1>Learn </h1>
              <h2>More and More</h2>
              <p>The program focuses on developing skills using Agile Practices, learning to use open source technologies and building awareness for social and economic issues. Communication and presentation skills are developed using the Pecha Kucha framework.</p>
            </div>
            <div class="col-md-1">
              <div class="animated flip fliplogobring"><img src="<%= asset_path('favicon.png') %>" /></div>
            </div>
          </div>
        </div>
      </div>
      <a class="home-carousel-left" href="#home-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
      <a class="home-carousel-right" href="#home-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
    </div>
  </div> <!--/#home-carousel-->
</section>
<!-- /SLIDER -->

<!--SERVICES-->
<section>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 animated fadeRightBig">
          <h1>What is KSC?</h1>
          <p>The Knowledge Sharing Campaign is a community platform that brings together two groups of people: the Know & Can Teach (those who have experience and can share their knowledge) group and the Don’t Know & Can Learn (those who are eager to learn, but lack opportunities) group. KSC originated from a simple idea, which turned out to be its slogan: 'Bring, Share & Learn'African development does not depend on our endless hopes from the East or West. Any society that cares about its future, must invest in its youth. A key strategic area that Africa needs to invest on is Education, especially by providing the youth with accessible quality education.</p>
        </div>
        <div class="col-md-6">
          <div class="grouppic"><img src="<%= asset_path('Ksc.png') %>" /></div>
        </div>

        <div class="col-md-6">
          <div class="pc"><img src="<%= asset_path('02.png') %>" /></div>
        </div>

        <div class="col-md-6">
          <h1>Getting Experience</h1>
          <p>There are no specific prerequisites to participate in these sessions. In fact, only a few students who attend these sessions have their own laptops. KSC is not just about tech sessions, but about knowledge sharing. Students who come have very limited exposure to key technologies. They first attend the KSC introductory sessions, which focus on assessing and improving the participant's computer literacy. For example, students who study in a non computer science program, create accounts for a list of free online applications and services, like GitHub. Not all students are able to efficiently use technologies like Google Apps that allow them to work as a team on a single report. KSC becomes a bridge that helps students embrace a very large online world, with skills needed to access this.</p>
        </div>

        <div class="col-md-6">
          <div class="idea"><img src="<%= asset_path('idea.png') %>" /></div>
        </div>

        <div class="col-md-6">
          <h1>Creative Ideas</h1>
          <p>What was heartening was that from the 25 people we expected, 72% attended, out of which 50% were females. It was an engaging experience for both trainers and students. Here is a short video of one of the sessions.
            Although this first workshop targeted MBA students, any participant who came with a different background and who did not have an idea on how to start a business, walked away with an understanding of the Business Model Canvas (BMC) framework. With this template, students are now able to frame their innovative ideas and turn them into a business.</p>
          </div>

          <div class="col-md-6 hillf" style=" margin-top: 309px;">
            <h1>Reaching Goals</h1>
            <p>In a few months, KSC has engaged and positively touched the lives of hundreds of young African students covering over 50% of African countries, out of which 40% were women. This is just the start - we hope that these numbers can quickly scale. We wish to replicate this experiment in other parts of the world where we know there are many African students with similar, if not tougher, challenges The African student diaspora faces challenges to get internship opportunities. KSC's key objectives have been shaped in a way that ensure we are able to respond to students’ specific challenges as we learn from their backgrounds and skills prior to starting the program. The program focuses on developing skills using Agile Practices, learning to use open source technologies and building awareness for social and economic issues. Communication and presentation skills are developed using the Pecha Kucha framework.</p>
          </div>

          <div class="col-md-6">
            <div class="hill"><img src="<%= asset_path('hill.png') %>" /></div>
          </div>
          <div class="col-md-12 text-center">
            <h1 class="text-center"> IMPACT OF KSC</h1>
            <iframe src="//fast.wistia.net/embed/iframe/or9cekm8i1" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe>
            <h3 class="vidtxt">Great initiative of the Knowledge Sharing Campaign <br>
              on students in hyderabad, India </h3>

              <script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
            </div>
          </div>
          &nbsp;
          <div class="col-md-14 ">
            <h1 class="text-center">Upcoming Events</h1>
            <div class="col-md-4 ">
              <h2 class="eventxt well"><br>KSC BATCH 3
                INTERNSHIP
                Hyderabad, India
              </h2>
              <a href="#" type="button" class="btn btn-primary">Read More</a>


            </div>
            <div class="col-md-4 ">
              <h2 class="eventxt well1"><br>RubyOnRails
                Summit, Hyderabad,India
                2016</h2>
                <a href="#" type="button" class="btn btn-primary">Read More</a>
              </div>
              <div class="col-md-4 ">
                <h2 class="eventxt well2"><br>Extrem
                  Programming
                  2016
                  ThoughtWorks
                  Hyderabad</h2>
                  <a href="#" type="button" class="btn btn-primary">Read More</a>
                </div>
                &nbsp;
                <h3 class="vidtxt text-center">Subscribe for Newsletter</h3>
                <div class="col-md-6 text-center">
                  <div class="form-group">
                    <input type="email" placeholder="Enter Your email" class="email input-group form-control"><a href="#" class="btn1 btn-primary btn-lg">Submit</a></input>



                  </div>

                </div>

              </div>

            </div>

          </section>






          <div class="container">

            <hr>
            <div class="row">
              <div class="text-center col-md-12">
                <div class="well" align="center"><strong> In Africa, when an old man dies, it’s a library burning – Spoken by Amadou Hampâté Bâ 1960 at UNESCO”. Here is a way to value your knowledge..</strong></div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></div>
              <div class="col-xs-4"><span class="glyphicon glyphicon-home" aria-hidden="true"> </span> </div>
              <div class="col-xs-4"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></div>
            </div>
          </div>
