
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <%= form_for :user do |f|  %>
  <div class="field">
    <%= f.label :'Email ID' %><br>
    <%= f.password_field :email, placeholder: 'Email ID' %>
  </div>

  <div class="field">
    <%= f.label :'Password' %><br>
    <%= f.password_field :password, placeholder: 'Password' %>
  </div><br>

  <div>
    <button id="sign_in_button">
      <span class="button_text">Sign In</span>
    </button>
  </div>

      <div id="sign_in_options" class="field_container">
          <div id="sign_in_alternatives_container">
            <span id="google_sign_in_option"><a href="#" id="google_sign_in" class="login_link">Sign in with Google</a></span><br>
            <input type="checkbox" name="remember_me">Stay signed in


          </div>
          <div id="remember_me_container">

          </div>
          <div class="clearfix"></div>
      </div>


    <div id="dont_have_an_account">
      <h2>
        Do you want to<a href="/register" class="login_link">sign up</a> for a new account<br>
        <a href="/reset" id="forgot_password_link" class="login_link">Forgot password</a>
      </h2>
    </div>
<% end %>

  <p>&nbsp;</p>
